body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
}

.container {
    margin-top: 150px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #222;
    color: white;
}
